/* font-family: "Julius Sans One", sans-serif;
    font-family: 'Archivo Narrow', sans-serif;
  */

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
  height: 100vh;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer h1 {
  position: relative;
  /* font-family: "Julius Sans One", sans-serif; */
  margin-bottom: 3.125rem;
}

.contactContainer p {
  /* height: 400px; */
  width: 90%;
  color: #fff;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 50px;
}

.contact-form {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  color: #efdd14;
  font-weight: 700;
  font-family: "Julius Sans One", sans-serif;
  margin: 0.325rem 0 0.325rem 0;
}

.contact-form input {
  height: 2rem;
  font-family: "Julius Sans One", sans-serif;
}

.contact-form #button {
  margin-top: 0.65rem;
  color: #4b0082;
}

.contact-form textarea {
  height: 9.375rem;
  font-family: "Julius Sans One", sans-serif;
}

@media only screen and (min-width: 600px) {
  .flexContainer {
    flex-direction: row;
  }
}
