/* font-family: "Julius Sans One", sans-serif;
    font-family: 'Archivo Narrow', sans-serif;
  */

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer h1 {
  position: relative;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 3.125rem;
}

.contactContainer p {
  width: 90%;
  color: #fff;
  font-family: "Archivo Narrow", sans-serif;
  margin-bottom: 50px;
}

.contact-form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  color: #efdd14;
  font-weight: 700;
  font-family: "Julius Sans One", sans-serif;
  margin: 0.325rem 0 0.325rem 0;
}

.contact-form input {
  height: 1.875rem;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
}

.contact-form #button {
  margin-top: 0.65rem;
  color: #4b0082;
  font-weight: 700;
}

.contact-form textarea {
  height: 9.375rem;
  font-family: "Julius Sans One", sans-serif;
}

@media only screen and (min-width: 767px) {
  .contactContainer h1 {
    font-size: 3.125rem;
  }
  .contact-form {
    width: 80%;
  }
  .contactContainer p {
    width: 80%;
  }
}

@media only screen and (min-width: 991px) {
}

@media only screen and (min-width: 1024px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .contactContainer p {
    width: 40%;
    font-size: 1.5rem;
  }
  .contact-form {
    width: 40%;
  }
}
