/* color palette -
260021 - dark af purple
3D0035 - slightly less dark af purple
4B0082 - slightly more less dark af purple
EFDD14 - not purple af at all, actually yellow.
 */
.landing-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dvug8hy5k/image/upload/v1620001235/Portfolio1/sebastian-ervi-Qq2h76kYRFI-unsplash_gkf9pp.jpg);
  background-size: cover;
  background-position: center;
  background-position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: #eff1f3;
  width: 80%;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  font-size: 6.25rem;
  border: 10px solid #4b0082;
  padding: 15px;
  text-shadow: 0 0 0 #eff1f3, 0 0 10px #eff1f3, 0 0 20px #eff1f3;
  animation: glow 1s ease-in-out infinite alternate;
}
.bannerCaption {
  color: #efdd14;
  text-shadow: 0 0 0 #efdd14, 0 0 10px #efdd14, 0 0 20px #efdd14;
  font-family: "Julius Sans One", sans-serif;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
#myElement {
  color: #efdd14;
  text-shadow: 0 0 0 #efdd14, 0 0 10px #efdd14, 0 0 20px #efdd14;
  font-family: "Julius Sans One", sans-serif;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
@keyframes glow {
  from {
    /* text-shadow: 0 0 0 #eff1f3, 0 0 10px #eff1f3, 0 0 20px #eff1f3; */
    box-shadow: 0 0 40px 10px #4b0082, inset 0 0 20px #4b0082,
      0 0 160px 10px #4b0082, inset 0 0 20px #4b0082, 0 0 320px 10px #4b0082,
      inset 0 0 20px #4b0082;
  }
  to {
    /* text-shadow: 0 0 10px #eff1f3, 0 0 20px #eff1f3, 0 0 30px #eff1f3; */
    box-shadow: 0 0 40px 10px #4b0082, inset 0 0 25px #4b0082,
      0 0 160px 20px #4b0082, inset 0 0 25px #4b0082, 0 0 320px 20px #4b0082,
      inset 0 0 25px #4b0082;
  }
}
@media (max-height: 768px) and (max-width: 1366px) {
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 2.75rem;
  }
}
