.aboutContainer {
  position: relative;
  width: 100%;
  height: auto;
  /* height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* border: 2px solid red; */
}

.aboutContainer .contentBox {
  width: 50%;
  margin: 0 auto;
  border: 5px solid #efdd14;
  padding: 20px;
  /* height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   */
}

.aboutContainer .contentBox h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.aboutContainer .contentBox p {
  color: #fff;
  text-align: center;
}

.aboutContainer .imgBox {
  /* height: 100%; */
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dvug8hy5k/image/upload/v1620000928/Portfolio1/anthony-delanoix-hzgs56Ze49s-unsplash_flfru5.jpg);
  background-size: cover;
  background-position: center;
  background-position: fixed;
}
