p {
  color: black;
}

.containers {
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(61, 0, 53, 1) 50%,
    rgba(38, 0, 33, 1) 100%
  ); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
  min-height: 100vh;
}

.serviceContainer {
  padding: 100px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 75%;
}
.serviceContainer2 {
  padding: 80px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 75%;
}

.serviceContainer3 {
  padding: 80px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 75%;
}
